* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
    background-color: #fff;

}

header {
    border: 1px solid #CCC;
    height: 120px;
    background: #ffe521;
}

.logo {
    margin-top: 20px;
}

.usuario {
    margin-left: 900px;
    margin-top: -60px;
   
}

.fa user {
font-size: 15px;

}


.cerrar {
    margin-left: 1080px;
    margin-top: -35px;
   
}

a{
    text-decoration: none;
    color: #fff;
}


 

section{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    width:300px;     
}

section form{
    width:300px;   
}

section form input{
    width: 100%
}



div{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    width:300px;   
}
