* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
    background-color: #fff;

}

header {
    border: 1px solid #CCC;
    height: 120px;
    background: #ffe521;
}

.logo {
    margin-top: 20px;
}

.usuario {
    margin-left: 900px;
    margin-top: -60px;
   
}

.fa user {
font-size: 15px;

}


.cerrar {
    margin-left: 1080px;
    margin-top: -35px;
   
}

a{
    text-decoration: none;
    color: #fff;
}


.container-menu {                                           
    width: 200px;
    min-width: 300px;
    margin: 20px;
    display: inline-block;
}

.container-menu .menu{
    width: 100%;
}


.container-menu ul{
    list-style: none;
}
.container-menu ul ul {  
    width: 200px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    
  }
.container-menu .menu li a {
    color: #494949;
    display: block;
    padding: 15px 20px;
    background: #e9e9e9;
}

.container-menu li a:hover {
    background: #ffe521;
    color:#fff;
}

.container-menu .menu .icono {
    font-size: 12px;
    line-height: 18px;
}

.container-menu .menu ul {

    display:block;
}

.container-menu .menu ul li a {
    background: #d6c11c;
    color: #e9e9e9;
    display:block;
}  
