 * {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;

}

header {
    border: 1px solid #CCC;
    height: 120px;
    background: #ffe521;
}

.logo {
    margin-top: 20px;
}

.usuario {
    margin-left: 900px;
    margin-top: -60px;
   
}

.fa user {
font-size: 15px;

}


.cerrar {
    margin-left: 1080px;
    margin-top: -35px;
   
}

a{
    text-decoration: none;
    color: #fff;
}

.sidebar {
    display: block;
    position: absolute;
    width: 200px;
  
    min-width: 300px;
    margin: 20px;
 
    font-family: 'Bitter', serif;
    font-size: 18px;
  
   
  }
  
  .sidebar ul li {
    list-style: none;
    padding: 15px 20px;
    position: relative;
    background:gray;

    }
  
  .sidebar ul ul {  
    width: 200px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    
  }
  .sidebar .nav .icono.izquierda{
    float: left;
    margin-right: 10px;
  }
  .sidebar .nav .icono.derecha {
    float: right;
    margin-left: 10px;
}   



  .sidebar ul li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  
  .sidebar ul li a {
    columns: #000000;;
    list-style: none;
    text-decoration: none;
    padding: 10px 10px;
    }
  
  .sidebar ul li a:hover {
    background: #ffe521;
    color:#fff;
  } 
  