body{
padding: 0px;
margin: 0px;

}

header{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    width:500px; 
}

header img{
    width: 500px
}    

section{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    width:300px;     
}

section form{
    width:300px;   
}

section form input{
    width: 100%
}



div{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    width:300px;   
}


a{
 text-decoration:none;
}